.main {
    padding-top: 16px;
}

.header {
    background: white;
    color: #757575;
}

.mdl-layout__drawer-button {
    color: #757575 !important;
}

.title {
    font-size: 22px;
}

.notification {
    padding: 16px 40px;
}